<header>

  <%= link_to image_tag("logo_01.svg", class:"logo-01"), "/" %>

  <div class='header-right'>

  <ul class='header-list'>
    <li><%= link_to "イベントを作成する", new_event_path , class:"header-text" %></li>
    <li><%= link_to "イベントを探す", events_path, class:"header-text" %></li>
  </ul>

  <% if user_signed_in? %>
    <div class='button'>
      <%= link_to current_user.nickname, "/users/#{current_user.id}", class:"my" %>
      <%= link_to "Log out ▶︎", destroy_user_session_path, method: :delete, class:"logout" %>
    </div>
  <% else %>
    <div class='button'>
      <%= link_to "Sign in ▶︎", new_user_session_url , class:"login" %>
      <%= link_to "NEW ▶︎", new_user_registration_url , class:"new" %>
    </div>
  <% end %>

</div>

</header>