<div class='session'>

<div class='title'>
  <h1 class='title-text'>
    会 員 情 報 入 力
  </h1>
</div>

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>

  <div class="error-alert">
  <span class='error-message'><%= flash[:alert] %></span>
  </div>

  <div class="field">
    <%= f.label "メールアドレス", class:"item" %>
    <div class="mandatory">必須</div>
    <div class="input">
    <%= f.email_field :email, autocomplete: "email", class:"input-n" %>
    </div>
  </div>

  <div class="field">
    <%= f.label "パスワード", class:"item" %>
    <div class="mandatory">必須</div>
    <div class="input">
    <%= f.password_field :password, autocomplete: "current-password", class:"input-n" %>
    </div>
  </div>

  <div class="submit">
    <%= f.submit "ロ グ イ ン  ＞" ,class:"button-submit"%> 
  </div>

<% end %>

</div>
